{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Setup new event</h1>
        <p>Complete the form below in order to setup your event</p>
        {{ form(form) }}
    </div>
{% endblock %}
