{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Setup new event</h1>
        <p>Complete the form below in order to setup your event</p>
        <div id="map_picker" style="width: 700px; height: 500px;"></div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script type="text/javascript" src='/js/locationpicker.jquery.min.js'></script>
    <script>
        $('#map_picker').locationpicker({
            location: {latitude: 51.5033630, longitude: -0.1276250},
            radius: 0,
            inputBinding: {
                latitudeInput: $('#appbundle_event_lat'),
                longitudeInput: $('#appbundle_event_lon'),
                locationNameInput:  $('#appbundle_event_location')
            },
            enableAutocomplete: true
        });
    </script>
{% endblock %}