html,body {
  height:100%;
  font-family: 'Roboto', sans-serif;
    margin-top: -10px;
}

header{
    background-color:#6D00DA;
}

.banner{
    padding-top: 14px;
    padding-bottom: 10px;
}

.heading-banner a{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px !important;
    color: #eeddff !important;
    /*text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);*/
}

.heading-banner a:hover{
    color: #eeddff;
    text-decoration: none;
    /*text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);*/
}

.main-heading{
    font-family: 'Open Sans', sans-serif;
    font-size:100px !important;
    color: #eeddff;
    text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);
}

.main-tagline{
    font-style: italic;
    font-family: 'Roboto-thin', sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);
}

.front_button {
    background-color: white;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}

.front_button:hover {
    background-color: #cbcbcb;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}

.front_button:active {
    background-color: #a3a3a3 !important;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}


.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#6D00DA;
  color:#eee;
  overflow:hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d00da+0,801aa5+100 */
    background: #6d00da; /* Old browsers */
    background: -moz-linear-gradient(top,  #6d00da 0%, #801aa5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d00da), color-stop(100%,#801aa5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6d00da 0%,#801aa5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6d00da 0%,#801aa5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6d00da 0%,#801aa5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6d00da 0%,#801aa5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d00da', endColorstr='#801aa5',GradientType=0 ); /* IE6-9 */


}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
