html,body {
  height:100%;
  font-family: 'Roboto', sans-serif;
    margin-top: -10px;
}

header{
    background-color:#6D00DA;
}

.banner{
    padding-top: 14px;
    padding-bottom: 10px;
}

.heading-banner{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px !important;
    color: #eeddff;
    /*text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);*/
}

.main-heading{
    font-family: 'Open Sans', sans-serif;
    font-size:120px !important;
    color: #eeddff;
    text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);
}

.main-tagline{
    font-style: italic;
    font-family: 'Roboto-thin', sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(39, 39, 39, 0.79);
}

.front_button {
    background-color: white;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}

.front_button:hover {
    background-color: #cbcbcb;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}

.front_button:active {
    background-color: #a3a3a3 !important;
    min-width: 200px;
    border-radius: 50px !important;
    color: #1c1c1c !important;
    border-color: #2E015A;
    margin-bottom: 15px;
}


.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#6D00DA;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

